{% extends 'base.html' %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<section class="content">
    <header>
        <h1> Album Register </h1>
        <p> {{ state_form }} </p>
    </header>

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
        <!-- <table> -->
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                <div class="form-control">
                {% for form in wizard.form.forms %}
                    <div class="form-field">
                        {{ form.label_tag }}
                        {{ form }}
                    </div><!--form-field-->
                {% endfor %}
            </div><!--form-control-->
                {% else %}
                    <div class="form-control">
                        {% for form in wizard.form %}
                            <div class="form-field">
                                {{ form.label_tag }}
                                {{ form }}
                            </div><!--form-field-->
                        {% endfor %}
                    </div><!--form-control-->
            {% endif %}
        <!-- </table> -->

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans " submit" %}" />
    </form>

</section>
{% endblock %}